h2 {
  text-align: center;
  color: var(--primary-color);
}

#createEventPageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-gray-color);
  height: 100%;
}

.create-event-container {
  width: 20rem;
  margin: 0 auto;
  padding: var(--padding-4);
  background-color: var(--white-color);
  border-radius: var(--border-radius-3);
  box-sizing: border-box;
  border: 1px solid var(--primary-color);
}

#createEventForm {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
