h2 {
  color: var(--primary-color);
}

#eventListPageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--light-gray-color);
  height: 100%;
  row-gap: 1rem;
}

#eventListFilter{
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: var(--padding-4);
  background: var(--white-color);
  border-radius: var(--border-radius-3);
  box-shadow: 0 0 10px var(--black-color-100);
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
}

#eventListFilterForm{
  display: flex;
  gap: 1rem;
}

.event-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  background: var(--white-color);
  padding: var(--padding-4);
  border-radius: var(--border-radius-3);
  box-shadow: 0 0 10px var(--black-color-100);
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
}

#eventTableContainer {
  max-height: 300px;
  overflow-y: auto;
}

#eventTable {
  width: 40rem;
  border-collapse: collapse;
  font-size: var(--font-size-1);
  text-align: left;
  overflow-y: auto;

  thead {
    position: sticky;
    top: 0;
    background-color: var(--gray-color);
  }

  th,
  td {
    padding: var(--padding-2) var(--padding-3);
    border: 1px solid var(--gray-color);
    max-width: 10rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .column-action {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

#eventTablePagination {
  width: 20rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.page-number-container {
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.page-link {
  padding: var(--padding-2);
  background-color: var(--black-color-50);
  border: none;
  cursor: pointer;
  transition: var(--default-transition);
  border-radius: var(--border-radius-2);

  &.active,
  &:hover {
    background-color: var(--gray-color);
  }
}

.no-events {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .event-container {
    width: 100%;
    padding: var(--padding-3);
  }

  #eventTableContainer {
    width: 100%;
    overflow-x: auto;
  }

  #eventTable {
    width: 100%;
  }

  #eventTablePagination {
    width: 100%;
  }
}
