h2 {
  color: var(--primary-color);
}

#loginPageContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-gray-color);
  height: 100%;
}

#loginContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  background: var(--white-color);
  padding: var(--padding-4);
  border-radius: var(--border-radius-3);
  box-shadow: 0 0 10px var(--black-color-100);
  max-width: 300px;
  border: 1px solid var(--primary-color);
}

#loginForm {
  min-width: 250px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}

.form-group{
  width: 100%;
}