h2 {
  color: var(--primary-color);
}

#registerPageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-gray-color);
  height: 100%;
}

#registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  background: var(--white-color);
  padding: var(--padding-4);
  border-radius: var(--border-radius-3);
  box-shadow: 0 0 10px var(--black-color-100);
  max-width: 300px;
  border: 1px solid var(--primary-color);
}

#registerForm {
  min-width: 250px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}

.password-requirements {
  width: 100%;
  margin: 0;
  font-size: var(--font-size-1);
  color: var(--error-color);
}

.password-requirements li.valid-requirement {
  color: var(--success-color);
}

.form-group {
  width: 100%;
}
