body {
  font-family: system-ui;
  margin: 0;
  padding: 0;
  background-color: var(--light-gray-color);
}

.page {
  padding: var(--padding-8) 0;
}

.p-2 {
  padding: var(--padding-2);
}

.form-group {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;

  label {
    display: block;
    font-weight: bold;
    text-wrap: nowrap;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
}
