:root {
  --primary-color: #f26a31;
  --dark-primary-color: #db4b0f;

  --secondary-color: #253f5a;
  --dark-secondary-color: #20374f;

  --error-color: #cc0000;
  --dark-error-color: #aa0000;

  --success-color: #009b00;
  --dark-success-color: #007700;

  --warning-color: #ffcc00;
  --dark-warning-color: #ffbb00;

  --white-color: #ffffff;
  --white-color-900: rgba(255, 255, 255, 0.9);
  --white-color-800: rgba(255, 255, 255, 0.8);
  --white-color-700: rgba(255, 255, 255, 0.7);
  --white-color-600: rgba(255, 255, 255, 0.6);
  --white-color-500: rgba(255, 255, 255, 0.5);
  --white-color-400: rgba(255, 255, 255, 0.4);
  --white-color-300: rgba(255, 255, 255, 0.3);
  --white-color-200: rgba(255, 255, 255, 0.2);
  --white-color-100: rgba(255, 255, 255, 0.1);
  --white-color-50: rgba(255, 255, 255, 0.05);

  --dark-white-color: #fafdff;

  --light-black-color: #333333;

  --black-color: #000000;
  --black-color-900: rgba(0, 0, 0, 0.9);
  --black-color-800: rgba(0, 0, 0, 0.8);
  --black-color-700: rgba(0, 0, 0, 0.7);
  --black-color-600: rgba(0, 0, 0, 0.6);
  --black-color-500: rgba(0, 0, 0, 0.5);
  --black-color-400: rgba(0, 0, 0, 0.4);
  --black-color-300: rgba(0, 0, 0, 0.3);
  --black-color-200: rgba(0, 0, 0, 0.2);
  --black-color-100: rgba(0, 0, 0, 0.1);
  --black-color-50: rgba(0, 0, 0, 0.05);

  --gray-color: #cccccc;

  --light-gray-color: #f9f9f9;

  --default-transition: 0.1s;

  --padding-1: 0.25rem;
  --padding-2: 0.5rem;
  --padding-3: 0.75rem;
  --padding-4: 1rem;
  --padding-5: 1.25rem;
  --padding-6: 1.5rem;
  --padding-7: 1.75rem;
  --padding-8: 2rem;

  --border-radius-1: 2px;
  --border-radius-2: 4px;
  --border-radius-3: 8px;
  --border-radius-4: 16px;

  --font-size-root: 18px;
  --font-size-small: 0.875rem;
  --font-size-1: 0.75rem;
  --font-size-2: 0.875rem;
  --font-size-3: 1rem;
  --font-size-4: 1.125rem;
  --font-size-5: 1.25rem;
  --font-size-6: 1.5rem;
}
