.button-primary,
.button-error,
.button-secondary,
.button-warning {
  width: 100%;
  color: var(--white-color);
  padding: var(--padding-2);
  border: none;
  border-radius: var(--border-radius-2);
  cursor: pointer;
  transition: var(--default-transition);

  &:disabled {
    cursor: not-allowed;
    background-color: var(--gray-color);
  }
}

.button-primary {
  background-color: var(--primary-color);

  &:hover:not(:disabled) {
    background-color: var(--dark-primary-color);
  }
}

.button-secondary {
  background-color: var(--secondary-color);

  &:hover:not(:disabled) {
    background-color: var(--dark-secondary-color);
  }
}

.button-error {
  background-color: var(--error-color);

  &:hover:not(:disabled) {
    background-color: var(--dark-error-color);
  }
}

.button-warning {
  background-color: var(--warning-color);

  &:hover:not(:disabled) {
    background-color: var(--dark-warning-color);
  }
}