input[type="text"],
input[type="email"],
input[type="password"],
input[type="datetime-local"],
textarea {
  width: 100%;
  padding: var(--padding-3);
  border: 1px solid var(--gray-color);
  border-radius: var(--border-radius-2);
  transition: var(--default-transition);
  box-sizing: border-box;
  font-size: var(--font-size-1);

  &:focus {
    outline: none;
    border-color: var(--primary-color);
  }
}

textarea {
  resize: vertical;
  min-height: 100px;
}
