.error-message,
.success-message {
  width: 100%;
  color: var(--dark-white-color);
  box-sizing: border-box;
  text-align: center;
  padding: var(--padding-2);
  border-radius: var(--border-radius-2);
  font-size: var(--font-size-1);
}

.error-message {
  background: var(--error-color);
  border: 2px solid var(--dark-error-color);
}

.success-message {
  background: var(--success-color);
  border: 2px solid var(--dark-success-color);
}
