.navbar {
  background-color: var(--dark-secondary-color);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-4);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.navbar ul li {
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  display: block;
  padding: 0 var(--padding-4);
  text-align: center;
  text-decoration: none;
  color: var(--light-gray-color);
  transition: var(--default-transition);
  font-weight: 200;

  &:hover {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
  }
}
